.hero-container {
  display: flex;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 0.5rem;
  width: 85vw;
  height: 70vh;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

video {
  object-fit: cover;  
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.temp-widget {
  position: relative;
  height: 10rem;
  width: 70vw;
  display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
}
